<mat-form-field>
  <input
    type="email"
    matInput
    placeholder="Username"
    [formControl]="username"
    required
  />
  <mat-hint>Type a unique username.</mat-hint>
  <span matSuffix>@domain.com</span>
  <span matPrefix>admin.</span>
  <mat-error *ngIf="username.hasError">
    {{ getErrorMessage() }}
  </mat-error>
</mat-form-field>

<mat-form-field>
  <textarea matInput cdkTextareaAutosize rows="2"> </textarea>
</mat-form-field>

<mat-form-field>
  <mat-label>Choose a date</mat-label>
  <input
    matInput
    (focus)="picker.open()"
    [min]="minDate"
    [max]="maxDate"
    [matDatepicker]="picker"
  />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker touchUi></mat-datepicker>
</mat-form-field>

<mat-icon aria-hidden="false" aria-label="Example home icon">
  add alert
</mat-icon>

<button mat-button>Button 1</button>
<button color="primary" mat-raised-button>Primary</button>
<button color="accent" mat-raised-button>Accent</button>
<button color="warn" mat-raised-button>Warn</button>
<button color="primary" mat-fab><mat-icon>check</mat-icon></button>

<mat-chip-list multiple="true" selectable="true">
  <mat-chip
    *ngFor="let category of categories"
    (selectionChange)="changeSelected($event)"
    (click)="selectCategory(category)"
    [selected]="category.selected"
  >
    {{ category.name }}
  </mat-chip>
</mat-chip-list>
<mat-spinner mode="determinate" [value]="progress"></mat-spinner>
<mat-spinner></mat-spinner>
